# Key-bindings for the command-line editor.

# none, visible or audible
set bell-style none

# Ask before displaying >20 items
set completion-query-items 20

# Ignore case for the command-line-completion functionality
set completion-ignore-case on

# Show all instead of beeping first
set show-all-if-ambiguous on

# MSYSTEM is emacs based --> mode=emacs
# Use 'sed -n l<enter>' to display keycodes
# 'bind -p' shows keyb bindings
# C-x C-r command re-reads this init file.
$if mode=emacs
  "\e'":          "`"                   # ESC + ' / AltGr + '
  "\e\303\254":   "~"                   # ESC + ì / AltGr + ì
  "\e[1;5F":      kill-line             # CTRL + END
  "\e[1;5H":      backward-kill-line    # CTRL + HOME
$endif
